* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(finlandica-regularWeb.ttf);
  font-family: 'Fin';
}

@font-face {
  src: url(finlandica-boldWeb.ttf);
  font-family: 'FinBold';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fin';
  background-color: #dfdfdf;
}

h2 {
  font-family: 'FinBold';
}

a {
  text-decoration: none;
}

#container {
  background-color: white;
  max-width: 95%;
  margin: 0 2.5%;
}

i {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/*/ fixed header (JS) */

.sticky {
  position: fixed;
  top: 0;
  width: 95%;
}

/* Header area */

header {
  z-index: 200;
  display: initial;
}

header .top-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.25rem 3rem;
}

header .top-bar a {
  color: #002da1;
  font-size: 0.9rem;
}

header .top-bar i {
  font-size: 0.6rem;
}

header .top-bar .logo a {
  text-transform: uppercase;
  font-size: 2.125rem;
  line-height: 1.05;
  letter-spacing: -2px;
}

header .top-bar .logo a span {
  font-family: 'FinBold';
}

/* Main nav */

.icon {
  display: none;
}

header #main-nav {
  background-color: #002da1;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 3;
}

header #main-nav a {
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

header #main-nav ul li {
  display: inline-block;
  padding: 0.9rem 0.3rem;
  margin: 0 1rem 0 0;
  border-bottom: 3px solid transparent;
  position: relative;
  transition: border 0.4s;
}
header #main-nav ul li:hover,
header #main-nav .current {
  border-bottom: 3px solid white;
}

header #main-nav ul li ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

header #main-nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

header #main-nav ul li ul {
  position: absolute;
  background-color: white;
  top: 50px;
  left: 0;
}

header #main-nav ul li ul li,
header #main-nav ul li ul li:hover {
  margin: 0;
  padding: 0;
  border: none;
  z-index: 3;
  background-color: white;
}

header #main-nav ul li ul li a {
  color: #002da1;
  display: block;
  text-transform: initial;
  padding: 0.6rem 1rem;
  width: 220px;
}

header #main-nav ul li ul li a:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 95%;
  margin-bottom: 100px;
}

.space {
  padding-top: 50px;
}

/* Search */

.search {
  position: relative;
}

.search form {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  padding: 1rem;
  border-radius: 2px;
  display: flex;
  box-shadow: 0 0 5px black;
  z-index: 3;
}

.search form:before {
  content: '';
  position: absolute;
  right: 13px;
  top: -4px;
  background-color: white;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
}

.search input {
  border-radius: 0;
  height: 42px;
  border: 1px solid black;
  font-size: inherit;
  padding: 1rem;
}

::placeholder {
  color: #002da1;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #002da1;
}

::-ms-input-placeholder {
  color: #002da1;
}

.search .btn {
  padding: 0.6rem;
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: #002da1;
}

.search .btn i {
  font-size: 1.2rem;
  color: white;
}

/* hero banner */

#hero-banner {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#hero-banner .parallax {
  position: relative;
  background-color: #002da1;
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-banner .parallax::before {
  content: '';
  background: url('https://source.unsplash.com/cw-cj_nFa14/') no-repeat fixed
    top center / cover;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: absolute;
}

/* #hero-banner {
  background: url('https://source.unsplash.com/cw-cj_nFa14/') no-repeat fixed
    center center/cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

#hero-banner::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgb(0, 45, 161, 0.4);
} */

#hero-banner .content {
  color: white;
  z-index: 1;
  text-transform: uppercase;
  max-width: 50%;
  text-align: center;
}

#hero-banner h1 {
  font-size: 75px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

#hero-banner span {
  font-family: 'FinBold';
}

#hero-banner p {
  font-size: 22px;
  margin-bottom: 5px;
}

/* Back to top button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.7); /* Set a background color */
  height: 40px;
  width: 40px;
  color: #002da1; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 2px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}
/* category section */

#category h2 {
  color: #002da1;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 10px;
}

#category p {
  padding: 0 2rem;
  font-size: 19px;
}

#category .grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#category .item {
  height: 150px;
  width: 260px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

#category .item:hover {
  text-decoration: underline;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
}

#category .item a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  padding-top: 115px;
  text-shadow: 0 0 5px black;
  z-index: 1;
}

#category .item:first-child {
  background-color: #002da3;
}

#category .item:nth-child(2) {
  background-color: #002da3;
}

#category .item:nth-child(3) {
  background-image: url('https://source.unsplash.com/cw-cj_nFa14/');
  background-size: cover;
}

#category .item:nth-child(4) {
  background-image: url('https://source.unsplash.com/Oalh2MojUuk');
  background-size: cover;
}

#category .item:nth-child(5) {
  background-image: url('https://source.unsplash.com/M_NvKwSOkug');
  background-size: cover;
}

#category .item:nth-child(6) {
  background-image: url('https://source.unsplash.com/OB7ol699Iww');
  background-size: cover;
}

#category .item:nth-child(7) {
  background-image: url('https://source.unsplash.com/7okkFhxrxNw');
  background-size: cover;
}

#category .item:nth-child(8) {
  background-image: url('https://source.unsplash.com/yktK2qaiVHI');
  background-size: cover;
}

#category .item:nth-child(9) {
  background-image: url('https://source.unsplash.com/5aiRb5f464A');
  background-size: cover;
}

/* region sections */

#region {
  margin-top: 2rem;
}

#region h2 {
  color: #002da1;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 10px;
}

#region p {
  padding: 0 2rem;
  font-size: 19px;
}

#region button {
  margin: 1rem 2rem;
  height: 30px;
  background-color: #002da1;
  border-radius: 2px;
  border: none;
}

#region button a {
  color: white;
  font-size: 11px;
  padding: 10px;
}

#region button:hover {
  opacity: 0.9;
}

#region .grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#region .item {
  height: 150px;
  width: 260px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

#region .item:hover {
  text-decoration: underline;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
}

#region .item a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  padding-top: 115px;
  text-shadow: 0 0 5px black;
  z-index: 1;
}

#region .item:first-child {
  background-image: url('https://source.unsplash.com/bpDJvls-h-0');
  background-size: cover;
}

#region .item:nth-child(2) {
  background-image: url('https://source.unsplash.com/2R_JJLqrJzI');
  background-size: cover;
}

#region .item:nth-child(3) {
  background-image: url('https://source.unsplash.com/Ttb5EkKxJD4');
  background-size: cover;
}

#region .item:nth-child(4) {
  background-image: url('https://source.unsplash.com/idcVfrvYBxM');
  background-size: cover;
}

#region .item:nth-child(5) {
  background-image: url('https://source.unsplash.com/CcNCC0Zplwc');
  background-size: cover;
}

#region .item:nth-child(6) {
  background-image: url('https://source.unsplash.com/GYTD37JoZO8');
  background-size: cover;
}

#region .item:nth-child(7) {
  background-image: url('https://source.unsplash.com/vvNkXsnuXuY');
  background-size: cover;
}

#region .item:nth-child(8) {
  background-image: url('https://source.unsplash.com/vQbT8qyliOg');
  background-size: cover;
}

/* footer */

footer {
  background-color: #002da1;
  color: white;
  padding-bottom: 1rem;
  margin-top: 5rem;
}

footer h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 12px;
}

footer p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer h3 span {
  display: block;
  font-family: 'FinBold';
  margin-top: 6px;
}

footer .links {
  font-family: 'FinBold';
}

footer a {
  color: white;
  font-size: 12px;
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
}

footer a:hover {
  text-decoration: underline;
}

footer .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2.4rem;
}

footer .item {
  width: 250px;
}

footer .item .contact {
  margin-bottom: 20px;
}

footer .item:nth-child(4) {
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-family: 'FinBold';
}

/* tablets up to 768 px */

@media (max-width: 768px) {
  #container {
    max-width: 100%;
    margin: 0;
  }

  .header-link {
    display: none;
  }

  header #main-nav ul li {
    margin-right: 10px;
  }

  .sticky {
    width: 100%;
  }

  #category .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #category .item {
    height: 150px;
    width: 200px;
  }

  #region .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #region .item {
    height: 150px;
    width: 200px;
  }

  footer .item {
    width: 150px;
  }
}

/* phones up to 320 px */

@media (max-width: 320px) {
  #hero-banner h1 {
    font-size: 50px;
  }

  #hero-banner p {
    font-size: 16px;
  }

  #category .grid,
  #region .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .grid {
    display: flex;
    flex-direction: column;
  }

  footer .grid .item {
    margin-bottom: 3rem;
    margin-left: 0;
  }

  #back-to-top {
    display: none;
  }

  /* mobile menu */

  header .top-bar {
    height: 56px;
  }

  header .top-bar .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 100px;
    margin: 0.5rem;
  }

  header .top-bar .logo a {
    font-size: 1.3rem;
  }

  header #main-nav .icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 1.2rem 1.2rem 0.8rem 0.8rem;
    color: #002da1;
  }

  header #main-nav .close {
    color: #002da1;
    background-color: white;
    left: 264px;
    top: 0;
    z-index: 1;
  }
  header #main-nav .menu {
    top: 0;
    left: 0;
    border-right: 1px solid black;
  }
  header #main-nav #menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 265px;
    background-color: white;
    padding-top: 2rem;
    transition: all 0.4s;
    z-index: 1;
  }

  header #main-nav ul li,
  header #main-nav .current {
    display: block;
    border-bottom: 1px solid #002da1;
    transition: none;
    margin: 0;
  }

  header #main-nav ul li ul {
    visibility: visible;
    opacity: 1;
    position: static;
  }

  header #main-nav ul li ul {
    visibility: visible;
    opacity: 1;
    position: static;
    padding-left: 2rem;
  }

  header #main-nav ul li ul li a,
  header #main-nav ul li a {
    color: #002da1;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 1rem;
    width: auto;
  }

  header #main-nav ul li ul li a:hover,
  header #main-nav ul li a:hover {
    border: none;
    background-color: transparent;
  }

  header #main-nav ul li:hover {
    border-bottom: 1px solid #002da1;
  }
  .search {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #002da1;
  }

  .search .btn {
    background-color: white;
  }

  .search .btn i {
    font-size: 1.8rem;
    color: #002da1;
  }

  .search .btn[type='submit'] {
    background-color: #002da1;
  }

  .search .btn[type='submit'] i {
    font-size: 1.2rem;
    color: white;
  }

  .search form {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    display: flex;
  }

  .search form input {
    width: 235px;
  }

  #main-nav {
    position: static;
  }
}
