* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header area */

header {
  background-color: #333;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
}

li {
  display: inline-block;
  padding: 1rem;
}

a:link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

a:visited {
  color: orange;
  text-decoration: underline;
}

/* Main area */

main {
  margin-top: 60px;
}

/* Hero-banner */

section {
  position: relative;
  height: 85vh;
  background: url('https://source.unsplash.com/1600x900/?mountain,asia')
    no-repeat fixed center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

section::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.container {
  max-width: 1000px;
  background-color: rgba(240, 230, 140, 0.253);
  margin: 0 auto;
  z-index: 1;
  position: relative;
  color: whitesmoke;
}

/* Text content */

.text-content {
  position: relative;
}

.text-content p {
  padding: 1rem;
  color: grey;
  background-color: lightcyan;
  margin: 1rem;
}
.text-content p:first-child {
  color: black;
  background-color: orangered;
}

.text-content p:nth-child(2) {
  color: green;
  background-color: pink;
  position: relative;
  top: 75px;
  left: 75px;
}
.text-content p:nth-child(3) {
  color: green;
  background-color: yellow;
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.text-content p:nth-child(4) {
  position: sticky;
  color: white;
  top: 300px;
  background-color: mediumslateblue;
}

.text-content p:last-child {
  color: purple;
  background-color: orchid;
}

/* .text-content p:nth-child(5n + 1) { // This means every 5th element starting from the first element
  color: aqua;
  background-color: blue;
} */

/* .text-content p:nth-child(odd) { // This means every odd element (can also be even)
  color: blue;
  background-color: lightyellow;
} */

/* Icons */

i {
  color: teal;
}
