* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.5rem;
}

.pm {
  min-height: 100px;
  margin: 5px;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 3fr 3fr;
}

.sitetitle {
  background-color: yellow;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
li {
  list-style: none;
  background-color: red;
}

/* main section */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.posttitle {
  background-color: lawngreen;
  grid-column: 1 / 4;
}

.postmeta {
  background-color: lightcoral;
  grid-column: 1;
  grid-row: 2 / 7;
}

.maincontent {
  background-color: lightpink;
  grid-column: 2/4;
  grid-row: 2/4;
}

.maincontentimage {
  background-color: magenta;
  grid-column: 2/4;
  grid-row: 4/7;
}

.sidebar {
  background-color: midnightblue;
  grid-row: 1/3;
}

.ads {
  background-color: olive;
  grid-row: 3/5;
}

.otherstuff {
  background-color: peachpuff;
  grid-row: 5/7;
}

/* footer */

footer {
  background-color: brown;
}
