* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 5em;
}

:root {
  --background-color: lightslategray;
  --dark-color: black;
  --light-color: white;
  --dark-variant: rgb(77, 77, 77);
  --highlight-color: rgb(145, 13, 13);
  --skillsevencolor: rgba(197, 197, 197, 0.5);
  --skillsoddcolor: rgba(255, 255, 255, 0.5);
  --progressbarcolor: rgb(241, 241, 241);
  --gallerybackground: rgb(245, 233, 212);
  --font: 'Source Code Pro', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}

h2 {
  margin-bottom: 30px;
}

.container {
  max-width: 75rem;
  background-color: var(--light-color);
  padding: 3rem;
  border-radius: 2px;
  min-height: 25%;
  margin: 0 auto;
}

/* Header area */

header {
  background-color: var(--dark-variant);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#logo {
  margin-top: 8px;
}

/* Main navigation*/

header .icon {
  display: none;
}

header nav a {
  color: var(--light-color);
  text-decoration: none;
}

header nav ul {
  position: relative;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
}

header nav ul li a {
  padding: 1rem;
}

header nav ul li ul {
  display: none;
  position: absolute;
  top: 35px;
  background-color: var(--light-color);
}

header nav ul li:hover ul {
  display: block;
}

header nav ul li ul li {
  display: block;
}

header nav ul li ul li a {
  display: block;
  padding: 0.5rem;
  color: var(--dark-color);
}

header nav ul li ul li a:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

/* Hero Banner */

main #hero-banner {
  background: url('https://source.unsplash.com/KMn4VEeEPR8/1600x900') no-repeat
    fixed center center/cover;
  height: 85vh;
  padding: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero-banner::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

main #hero-banner h1 {
  color: white;
  text-align: center;
  font-size: 4.375rem;
  z-index: 1;
}

main #hero-banner span {
  color: var(--dark-color);
}

/* work section */

main #work {
  background-color: var(--background-color);
}

main #work h2 {
  padding-left: 5rem;
  padding-top: 3rem;
}

main #work .containerWork {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

main #work .box {
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px;
  width: 24rem;
  height: 36rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

main #work .box:hover {
  box-shadow: 2px 2px 15px 2px;
}

main #work .box img {
  border-radius: 5px;
}

main #work .box h3,
p,
a {
  padding: 1rem 0;
  line-height: 2;
}

main #work .box a {
  text-decoration: none;
  color: var(--highlight-color);
}

/* Experience section */

main #experience {
  display: flex;
  justify-content: space-between;
}

main #experience img {
  width: 50%;
  margin-right: 3rem;
}

main #experience .content {
  padding: 3rem;
}

main #experience .content p {
  line-height: 2;
}

/* Skills section */

main #skills {
  background: url('https://source.unsplash.com//E0AHdsENmDg') no-repeat fixed
    center center/cover;
  padding: 5rem;
}

main #skills .containerSkills {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 20rem;
}

main #skills .containerSkills .box {
  width: 15rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5px 2px rgb(180, 180, 180);
}

#skills .box:nth-child(even) {
  background-color: var(--skillsevencolor);
}

#skills .box:nth-child(odd) {
  background-color: var(--skillsoddcolor);
}

#skills progress[value] {
  height: 1.5rem;
  width: 12rem;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  border-radius: 2px;
  background-color: var(--progressbarcolor);
  box-shadow: inset -2px 2px 3px rgb(175, 175, 175);
}

progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-color: var(--dark-color);
}

/* Animation */

#animation {
  background: var(--gradient);
  min-height: 100vh;
  padding: 10rem 4rem;
  background: linear-gradient(-45deg, #000000, #1b049b, #0094ca, #76a9f5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: var(--light-color);
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animatedCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, black, white);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 5;
}

.animatedCircle:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
    background: linear-gradient(to right, black, white);
  }
  25% {
    top: 0;
    left: 800px;
    background: linear-gradient(to left, black, white);
    border-radius: 0%;
  }
  50% {
    top: 700px;
    left: 800px;
    background: linear-gradient(to top, black, white);
    border-radius: 50%;
  }
  75% {
    top: 700px;
    left: 0;
    background: linear-gradient(to bottom, black, white);
    border-radius: 0%;
  }
  100% {
    top: 0;
    left: 0;
    background: linear-gradient(to right, black, white);
    border-radius: 50%;
  }
}

/* Gallery */

#gallery {
  background-color: var(--gallerybackground);
  padding: 10rem 4rem;
}

#gallery a {
  text-decoration: none;
  color: var(--highlight-color);
}

#gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 5px;
  padding-top: 2rem;
}

#gallery .gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery figure {
  overflow: hidden;
}

figure img {
  transition: transform 0.5s ease;
}

figure:hover img {
  transform: scale(1.2);
}

.dog {
  grid-column: 1/3;
  grid-row: 1/4;
}

.monkey {
  grid-column: 3/5;
  grid-row: 1/4;
}

.fish {
  grid-column: 5 / span 3;
  grid-row: 1/5;
}

.giraffe {
  grid-row: 1 / 10;
}

.panda {
  grid-column: 5/8;
  grid-row: 5/8;
}

.sloth {
  grid-column: 5/8;
  grid-row: 8 / span 2;
}

.elephant {
  grid-column: span 3;
  grid-row: 4 / 10;
}

.penguin {
  grid-column: 4/5;
  grid-row: span 3;
}

.seal {
  grid-column: 4/5;
  grid-row: 4/7;
}

/* footer */

footer {
  background-color: var(--background-color);
  text-align: center;
  color: var(--light-color);
  padding: 2rem;
}

footer .container {
  background-color: var(--background-color);
  padding-bottom: 0;
  padding-top: 0;
}

footer p {
  margin-top: 3rem;
  font-size: 12px;
}

/* Form */

footer form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

footer form .form-group {
  margin: 2rem 0;
}

footer form .form-group label {
  width: 12.5rem;
  display: inline-block;
  text-align: left;
}

footer form .form-group input,
footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}

footer form .form-group textarea {
  min-height: 6.5rem;
}

footer form button {
  background-color: var(--dark-variant);
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  color: var(--light-color);
  margin-left: 15rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

/* back to top button */

#back-to-top {
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 45px;
  width: 45px;
  border-radius: 2px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

#back-to-top i {
  font-size: 1.5rem;
}

/* Tablets up to 768px */

@media (max-width: 768px) {
  main #work .containerWork {
    flex-direction: column;
    align-items: center;
  }
  main #work h2 {
    padding-left: 22rem;
  }

  main #experience {
    flex-direction: column;
    align-items: center;
  }

  main #experience img {
    width: 100%;
    margin-right: 0;
  }

  main #skills h2 {
    text-align: center;
  }

  main #skills .containerSkills {
    flex-direction: column;
    align-items: center;
    height: 75rem;
  }

  footer form {
    text-align: center;
  }

  footer form button {
    margin-left: 0;
  }

  /* animation */

  @keyframes move {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 500px;
    }
    50% {
      top: 700px;
      left: 500px;
    }
    75% {
      top: 700px;
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
}

/* Iphone5 */

@media (max-width: 320px) {
  header {
    font-size: 11px;
    padding: 5px;
    align-items: center;
  }

  #logo {
    margin-top: 5px;
  }

  main #hero-banner h1 {
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 15px;
  }

  main #work .containerWork {
    padding-bottom: 2rem;
  }

  main #work h2 {
    padding-left: 8.5rem;
    padding-top: 2rem;
  }

  main #work .box {
    width: 19rem;
    height: 27rem;
    font-size: 10px;
  }

  main #work .box h3,
  p,
  a {
    padding: 5px 0;
    line-height: 2;
  }

  main #experience .content {
    padding: 1rem;
  }

  main #experience .content p {
    font-size: 10px;
  }

  main #skills {
    padding: 20px;
  }

  footer form {
    margin-right: 2rem;
  }

  footer form .form-group label {
    font-size: 10px;
    text-align: left;
  }

  footer form .form-group input,
  footer form .form-group textarea {
    width: 100%;
    font-size: 10px;
  }

  footer form button {
    font-size: 10px;
    padding: 5px 10px;
  }

  /* mobile menu */

  header .icon {
    display: block;
  }

  header a {
    color: var(--dark-color);
  }

  header nav ul {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: var(--light-color);
    width: 100%;
  }

  header nav ul.mobilemenu {
    display: block;
  }

  header nav ul.mobilemenu a {
    color: var(--dark-color);
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    display: block;
    padding: 0.5rem;
  }

  header nav ul li ul {
    display: block;
    position: relative;
    top: 0;
    padding-left: 1rem;
  }

  header nav ul li a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  /* animation */

  .animatedCircle {
    font-size: 8px;
    width: 70px;
    height: 70px;
  }

  .animatedCircle:hover {
    animation-play-state: paused;
  }

  @keyframes move {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 180px;
    }
    50% {
      top: 200px;
      left: 180px;
    }
    75% {
      top: 200px;
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
}
