.first-task {
  height: 150px;
  width: 150px;
  background-color: purple;
  border-radius: 50%;
  transition: all 2s;
}

.first-task:hover {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

.second-task {
  height: 150px;
  width: 200px;
  background-color: cadetblue;
  transition: all 2s;
}

.second-task:hover {
  transform: rotate(180deg);
  background-color: crimson;
}

.third-task {
  height: 150px;
  width: 200px;
  background-color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 2s;
}

.third-task:hover {
  height: 100px;
  width: 150px;
  background-color: violet;
  color: white;
}

.fifth-task {
  height: 400px;
  width: 400px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: all 2s;
}

.fifth-task:hover {
  border: 5px solid black;
}
